<?php

namespace App\Controller;

class %%NAME%%Controller extends \Core\Controller\BaseController
{
	protected $name = "%%NAME%%";

	/**
	 * Sample IndexAction
	 */
	public function indexAction()
	{
		
	
		$this->view->render('index',array('sample' => 'Sample Text'));
	}
}
?>